.checkoutProduct {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color:#fff;
    
  }
  
  .checkoutProduct_info > button {
    /* background-color:red;
    border: 1px solid;
    margin-top: 10px;
    color: #111;
    border-radius: 3px; */

    margin: 20px 20px;
    padding: 8px 62px;
    border-radius: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    background-color:#fcd200;
    color: #0f1111;
    box-shadow: 0 2px 5px 0 rgba(213,217,217,.5);

  }
  .checkoutProduct_info {
    padding-left: 20px;
    flex: 1;
  }
  
  .checkoutProduct_image {
    object-fit: contain;
    width: 180px;
    height: 180px;
    flex: 1;
  }
  
  .checkoutProduct__rating{
    display:flex;
  }
  
  .checkoutProduct_title {
    font-size: 17px;
    font-weight: 800;
  }
  
  /* For screens smaller than 600px */
@media (max-width: 600px) {
  .checkoutProduct {
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .checkoutProduct_image {
    width: 120px;
    height: 90px;
  }
  
  .checkoutProduct_info {
    padding-left: 0;
    text-align: center;
    margin-top: 10px;
  }
  
  .checkoutProduct__rating {
    justify-content: center;
  }
  
  .checkoutProduct_title {
    font-size: 14px;
  }
  
  .checkoutProduct_info > button {
    margin: 10px;
    padding: 8px 40px;
  }
}

/* For screens larger than 600px */
/* @media (min-width: 600px) {
  .checkoutProduct {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .checkoutProduct_info > button {
    margin: 20px 20px;
    padding: 8px 62px;
  }
} */
